* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-primary: hsla(233, 100%, 97%, 1);
    --bg-secondary: hsla(312, 91%, 96%, 1);
    --bg-heading: hsla(275, 18%, 79%, 1);
    --bg-heading-dark: hsla(218, 17%, 62%, 1);

    --fc-primary: hsla(274, 84%, 12%, 1);
    --fc-heading-dark: hsla(232, 17%, 35%, 1);
    --fc-heading-light: hsla(0, 0%, 100%, 1);

    font-size: 62.5%;
    --ff-primary: 'Palanquin', sans-serif;
    --ff-heading: 'Staatliches', cursive;
    --ff-secondary: 'Roboto', sans-serif;
    --ff-terciary: 'Open Sans', sans-serif;

    --central-content-padding: 0 0.8rem;
}

body {
    background: var(--bg-primary);
    font-size: 1.6rem;
    font-family: var(--ff-primary);
    color: var(--fc-primary);
    text-align: center;

}

header {
    background: var(--bg-heading-dark);
}

header img {
    margin: 3.2rem auto;
}

header h1 {
    background: var(--bg-heading);
    color: var(--fc-heading-light);

    font-family: var(--ff-heading);
    font-size: 4rem;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 0.05em;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    padding: 0.8rem;
}

.paragraph-container {
    background: var(--bg-primary);
    padding: 1.4rem 0 6.3rem;
}

.paragraph-container p {
    margin: 0 auto;
    padding: var(--central-content-padding);
    max-width: 60rem;

    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 400;
}

main {
    margin: 0 auto;
    padding: var(--central-content-padding);

    display: grid;
    gap: 3.2rem;
}

.card {
    position: relative;
    transition: transform 700ms;
}

.card img {
    width: 100%;
    border-radius: 20px;

    animation: downtop 200ms;

}

.card h2 {
    font-family: var(--ff-heading);
    background: var(--bg-secondary);
    color: var(--fc-heading-dark);
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 0.2em;

    display: inline-flex;
    align-self: center;

    height: 3.5rem;
    padding: 0 2.3rem;

    border-radius: 2rem;

    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    animation: topdown 200ms;
}

.card:hover {
    transform: scale(1.1);
    filter: brightness(.5);
}

footer {
    display: none;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 610px) {
    :root {
        --central-content-padding: 0 2rem;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    main .card {
        flex-basis: 28rem;
        max-height: 28rem;
        flex-grow: 1;
    }

    main .card img {
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1100px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    header {
        min-height: 100vh;
        min-width: 30rem;
    }

    header h1 {
        font-size: 4.8rem;
        padding: 2rem;
    }

    .paragraph-container {
        background: var(--bg-heading-dark);
        padding-top: 3.2rem;
    }

    .paragraph-container p {
        color: var(--fc-heading-light);
        font-family: var(--ff-secondary);
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .content-wrapper {
        padding: 8% 5%;
    }

    main {
        display: grid;
        grid-template-areas:
            "A B"
            "D B"
            "D C"
            "E F";
    }

    main .card:nth-child(1) {
        grid-area: A;
    }

    main .card:nth-child(2) {
        grid-area: B;
    }

    main .card:nth-child(3) {
        grid-area: C;
    }

    main .card:nth-child(4) {
        grid-area: D;
    }

    main .card:nth-child(5) {
        grid-area: E;
    }

    main .card:nth-child(6) {
        grid-area: F;
    }

    main .card {
        max-height: max-content;
    }

    .card img {
        height: max-content;
        object-fit: fill;
    }

    footer {
        display: block;
        margin-top: 5rem;
    }
}

@media (min-width: 1400px) {
    body {
        display: grid;
        grid-template-columns: 2fr 5fr;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        padding: 6.4rem 9rem 4rem;
    }

    main {
        grid-template-areas: 
            "A B C"
            "D B F"
            "D E F";
        
        gap: 3.2rem;

        max-width: 90rem;
    }


}